sem-1/MATH/

sem-1/PDSP/assignments
sem-1/PDSP/nptel-course
sem-1/PDSP/mamu-notes

sem-1/PBSR & VISU/assignments
# sem-1/PBSR & VISU/PBSR classwork
sem-1/PBSR & VISU/practice
sem-1/PBSR & VISU/visualisation classwork/trial_project_folder
sem-1/PBSR & VISU/visualisation assignment
sem-1/PBSR & VISU/visualisation-project
sem-1/PBSR & VISU/pbsr-assignment

sem-1/RDBMS & SQL/assignments
sem-1/RDBMS & SQL/classwork
sem-1/RDBMS & SQL/mamu notes

sem-1/random-works-latex/
sem-1/random-works-python/
sem-1/random-works-r/

sem-2/random-works-latex/
sem-2/random-works-python/
sem-2/random-works-r/

sem-2/laa/assignments/
sem-2/dmml/
sem-2/laa/
sem-2/algo/
sem-2/dcbd/

*.toc
*.png
*.aux
*.fdb_latexmk
*.fls
*.txt
*.bcf
*.xml
*.out
*.log
*.gz
*.RData
*.Rhistory
*.csv
*.tex
*.thm
.Rproj.user
*desktop.ini