a {
    position: relative;
}

a:hover {
    color: var(--animation-col);
    
}
  
a::before {
    
    color: var(--animation-col);
    content: '';
    position: absolute;
    width: 100%;
    height: 1.3px;
    border-radius: 4px;
    /* background-color: #cccccc; */
    background-color: var(--animation-col);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
  