@font-face {
    font-family: 'Computer Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/font/cmu.serif-roman.otf') format('opentype');
}

@font-face {
    font-family: 'Computer Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/font/cmu.serif-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Computer Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/font/cmu.serif-bold.otf') format('opentype');
}

/* @font-face {
    font-family: 'Computer Modern Sans Serif';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/font/cmu.sans-serif-medium') format('opentype');
} */

@font-face {
    font-family: 'Computer Modern Sans Serif';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/font/cmu.sans-serif-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Computer Modern Sans Serif';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/font/cmu.sans-serif-medium.otf') format('opentype');
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/font/cmu.typrewriter-text-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/font/cmu.typrewriter-text-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/font/lmroman10-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/font/lmroman10-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/font/lmroman10-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('/font/lmroman10-bolditalic.otf') format('opentype');
}

@font-face {
    font-family: 'Code New Roman NF';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/font/Code New Roman Nerd Font Complete.otf') format('opentype');
}

@font-face {
    font-family: 'Code New Roman NF';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/font/Code New Roman Italic Nerd Font Complete.otf') format('opentype');
}

@font-face {
    font-family: 'Code New Roman NF';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/font/Code New Roman Bold Nerd Font Complete.otf') format('opentype');
}

/* body {
    font-family: 'Computer Modern Sans Serif';
    font-weight: normal;
    font-style: normal;
} */

body {
    font-family: 'Computer Modern Sans Serif';
    font-weight: normal;
}

h1 {
    font-family: 'Computer Modern Sans Serif';
    font-weight: bold;
}

h2 {
    font-family: 'Computer Modern Sans Serif';
    font-weight: 600;
}

h3 {
    font-family: 'Computer Modern Sans Serif';
    font-weight: 500;
}

h4 {
    font-family: 'Computer Modern Sans Serif';
    font-weight: 500;
}

.breadcrumbs a {
    font-family: 'Computer Modern Sans Serif';
    font-weight: 300;
}

#menu a {
    font-family: 'Computer Modern Sans Serif';
    font-weight: 500;
    font-size: 16px;
}

.logo a {
    font-family: 'Computer Modern Sans Serif';
}

a {
    font-family: 'Code New Roman NF', Consolas;
    font-weight: 400;
}

code {
    font-family: 'Code New Roman NF', Menlo, Monaco, Consolas;
    direction: ltr;
}