/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 2px;
    height: 20px;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    font-size: medium;
}

.python {width: 90%; background-color: #5DADE2;border-radius: 2px;} /* Blue */
.r {width: 80%; background-color: #F7DC6F;border-radius: 2px;} /* yellow */
.latex {width: 90%; background-color: #ABEBC6;border-radius: 2px;
} /* light green */
.C {width: 60%; background-color: #808080;border-radius: 2px;
} /* Dark Grey */
.git {width: 70%; background-color: #D7BDE2;border-radius: 2px;
} /* light pink */


.skillbox
	{
		box-sizing: border-box;
		width: 100%;
		margin: 20px 0;
		transition: transform .4s;
	}
.skillbox:hover{
	transform: scale(1.05);
}
	.skillbox p
	{
		padding: 0;
		text-transform: uppercase;
		color: #fff;
        font-size: medium;

	}
	.skillbox p:nth-child(1)
	{
		float: right;
		position: relative;
		top: -25px;
	}

    .skill
	{
		box-sizing: border-box;
		background: #fff;
		border-radius: 8px;
		
	}
.level
	{
		
		width: 100%;
		height: 15px;
		border-radius: 8px;

	}